 /*FOOTER*/
 footer p{
   color:$default;
   text-align: left;
   padding: 10px 15px;
   margin:0;
   width: 1624px;
   height: auto;
}
/*------------------------------------------------------------------------------
END FOOTER
--------------------------------------------------------------------------------*/