/*SECTION INDEX*/
div{
  img{
  width: 100%;
  height: auto;
  }
  .p-home{
    padding:5px;
    margin: 0;
    color:$subtitle;
    text-transform: uppercase;
  }
  .flex-container {
    display:grid;
    flex-direction: column;
    grid-template-rows: auto auto;
    flex-wrap:nowrap;
    justify-content: normal;
    align-items: normal;
    row-gap: 15px;
    width: 100%;
    height: auto;
    }
      
  .flex-items:nth-child(1) {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    padding: 5px;
    background:transparent;
    border-radius: 5px;
    }
      
  .flex-items:nth-child(2) {
    display: flex;
    align-self:auto;
    order: 0;
    background:black;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    height: 50px;
    }
}
/*------------------------------------------------------------------------------
END SECTION INDEX
--------------------------------------------------------------------------------*/

