/* NAVBAR */
nav{
    #logo{
    width: 45%;
    padding: 3px;
    }
    i{
    width: 300px;
    }
    .navbartext{
    color:$subtitle;
    } 
}

/*------------------------------------------------------------------------------
END NAVBAR
--------------------------------------------------------------------------------*/
