/*SECTION PROCESS*/
div .procesos{
  p{
    text-align: justify;
    padding: 20px;
    margin-right: 260px;
    margin-top: -140px;
  }
}
/*------------------------------------------------------------------------------
END SECTION PROCESS
--------------------------------------------------------------------------------*/
